body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

ul{
  font-size: 40px;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: center;
  
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.line {
  border: none;
  background: linear-gradient(-90deg,#785ad6, #4aabce, #785ad6);
  height: 3px; /* Толщина линии */
  width: 350px;
 }

 .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }

.card {
  width: 500px;
  height: 500px;

  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 20px 5px rgba(0,0,0,.2); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
	margin: 20px 10px;

}

.card-image{
  height: 80px;
	max-height: 100%;
	max-width: 100%;
}

.card-text{
  display: flex;
	flex-direction: column;
	align-items: center;
  line-height: 150%;
}

.card-text p{
	font-weight: bold;
	color:#000000;
	text-align: center;
}

.card-button{
  background: linear-gradient(to left, #785ad6, #4aabce, #785ad6);
  background-size: 200%;
  padding: 12px 30px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  transition: .4s;
}

.card:first-child:before {
  background: linear-gradient(-90deg, #3fcee1, #3fe9bd);
}

.card:last-child:before {
  background: linear-gradient(-90deg, #f1bd2b, #ee9738);
}


.btn {
  display: block;
  justify-content: center;
  text-align: center;
  border-style: none;
  margin: 29px auto 0;
  padding: 13px 63px 14px 62px;
  cursor: pointer;
  background: linear-gradient(to left, #785ad6, #4aabce, #785ad6);
  background-size: 200%;
  padding: 15px 30px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  box-shadow: 0 9px 50px -5 #3fe9bd;
  transition: .4s;
}

.card:first-child .card-button {
  background: linear-gradient(to left, #3fcee1, #3fe9bd, #3fcee1);
  background-size: 200%;
}

.card:last-child .card-button {
  background: linear-gradient(to left, #ee9738, #f1bd2b, #ee9738);
  background-size: 200%;
}

.btn:hover,
.infBlock:first-child .btn:hover,
.infBlock:last-child .btn:hover {
  background-position: right;
}

.faq {
  max-width: 1200px;
  margin: 20px auto;
}
.faq-item {
  border-top: 1px solid rgb(0, 0, 0); /* Линия сверху текста */
  border-bottom: 1px solid rgb(0, 0, 0); /* Линия снизу текста */
}
.faq-title {
  
  position: relative;
  padding: 10px;
  
  cursor: pointer;
  font-weight: 600;
  
}

.faq-title::before {
  content: '+';
  position: absolute;
  top:50%;
  right:20px;
  transform: translateY(-50%);
  font-size: 1,5em;
}
.faq.active .faq-title::before {
  content: '-';
}

.content {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0,5s;
  overflow-y: auto;
}

.faq.active .content{
  height: auto;
  padding: 10px;
}


